<div id="send-box">

  <%= form_tag('/messages.json', remote: true, id: 'new_message') do %>
    <%= label_tag :text, "Enter your message" %>
    <%= text_field(:message, :text) %>
    <%= submit_tag('Send') %>

  <% end %>

</div>
