<h1>Chat Room</h1>
<p>Pull up some pixels and have a seat.</p>

<div class="container">
<%= render partial: 'users_box' %>
<%= render partial: 'message_box' %>
<%= render partial: 'send_box' %>
</div>
